Repository hatchet/hatchet, pull requests merged in 2020-07, with the labels that each got.

#192 add dataframe scale/offset example
  docs/advanced_examples.rst
  docs/images/scale-offset-df.png
Labels: docs

#171 Add example analysis producing a line chart
  docs/advanced_examples.rst
  docs/images/lulesh-line-plot.png
Labels: docs

#197 use a decorator for warning about deprecated parameters
  hatchet/graphframe.py
  hatchet/tests/graphframe.py
  hatchet/util/deprecated.py
Labels: ready-for-review

#202 Fixes a Couple of Query Language Bugs Concerning the * Wildcard
  hatchet/query_matcher.py
  hatchet/tests/query.py
Labels: bug-fix, ready-for-review

#205 Fixes Bug in Graph.find_merges that massively slowed down squashing
  hatchet/graph.py
Labels: bug-fix, ready-for-review

#203 add graphframe multiplication operator
  hatchet/graphframe.py
  hatchet/tests/dataframe_ops.py
Labels: ready-for-review

#204 add docs page for weak/strong scaling performance examples
  docs/advanced_examples.rst
  docs/images/strong-scale-graph1.png
  docs/images/strong-scale-graph2.png
  docs/images/strong-scale-graph3.png
  docs/images/weak-scale-graph1.png
  docs/images/weak-scale-graph2.png
  docs/images/weak-scale-graph3.png
  docs/index.rst
  docs/scaling_examples.rst
Labels: docs, ready-for-review

#211 Fix tutorial examples
  docs/analysis_examples.rst
  docs/examples/read/caliper_cali.py
  docs/examples/read/caliper_cali_to_json.py
  docs/examples/read/caliper_json.py
  docs/examples/read/dag_literal.py
  docs/examples/read/gprof_dot.py
  docs/examples/read/hpctoolkit.py
Labels: WIP, docs
