Repository hatchet/hatchet, pull requests merged in 2021-05, with the labels that each got.

#333 New Compound Queries Feature for Query Language
  hatchet/__init__.py
  hatchet/graphframe.py
  hatchet/query.py
  hatchet/tests/query.py
Labels: enhancement, query-language, ready-for-review

#371 Creates a GitHub Action to Replace Travis
  .github/workflows/unit-tests.yaml
  .travis.yml
Labels: coverage, enhancement, ready-for-review, travis

#362 Added a line of error reporting if the argument supplied to loadvisualization is not a list.
  hatchet/external/roundtrip/roundtrip.py
Labels: ready-for-review

#348 NotQuery Feature
  hatchet/query.py
Labels: enhancement, query-language, ready-for-review

#272 GraphFrame Checkpointing using HDF5
  .github/workflows/unit-tests.yaml
  hatchet/graphframe.py
  hatchet/readers/dataframe_reader.py
  hatchet/readers/hdf5_reader.py
  hatchet/tests/graphframe.py
  hatchet/writers/__init__.py
  hatchet/writers/dataframe_writer.py
  hatchet/writers/hdf5_writer.py
Labels: enhancement, readers, ready-for-review

#366 Compound Query Operators
  hatchet/query.py
Labels: enhancement, query-language, ready-for-review
