Repository hatchet/hatchet, pull requests merged in 2021-03, with the labels that each got.

#317 Updates to timemory reader
  hatchet/graphframe.py
  hatchet/readers/timemory_reader.py
Labels: readers

#322 Added support for readers defining default metric
  hatchet/graphframe.py
  hatchet/readers/timemory_reader.py
  hatchet/tests/timemory_test.py
Labels: approve, ready-for-review

#330 Traveler bugfix - More accurate querying of subtrees
  hatchet/external/roundtrip/roundtripTree.js
Labels: approved, ready-for-review

#318 Added hatchet node ids to literal output
  hatchet/graphframe.py
  hatchet/readers/literal_reader.py
  hatchet/tests/conftest.py
  hatchet/tests/graphframe.py
Labels: approved, readers, ready-for-review

#342 fix to query on metric that contains nan/inf/float/int values
  hatchet/graphframe.py
  hatchet/query_matcher.py
  hatchet/tests/graphframe.py
Labels: bug, query-language, ready-for-review

#309 Extend tree() to support visualizing 2 metrics
  docs/examples/read/dag_literal.py
  hatchet/external/console.py
  hatchet/graphframe.py
Labels: ready-for-review
