Repository hatchet/hatchet, pull requests merged in 2021-09, with the labels that each got.

#354 Unify timemory outputs
  hatchet/readers/timemory_reader.py
  hatchet/tests/conftest.py
  hatchet/tests/timemory_test.py
Labels: status: approved, priority: high, area: readers

#340 single front-end from_caliper API to load JSON-split or cali files
  docs/basic_tutorial.rst
  docs/examples/read/caliper_cali_to_json.py
  docs/examples/read/caliper_json.py
  docs/user_guide.rst
  hatchet/graphframe.py
  hatchet/tests/caliper.py
Labels: ready-for-review, readers

#421 cython_modules: update generated c files
  hatchet/cython_modules/graphframe_modules.c
  hatchet/cython_modules/reader_modules.c
Labels: type: bug, status: approved, priority: urgent, area: cython

#406 developer-docs: add contributor guide
  docs/developer_guide.rst
  docs/index.rst
Labels: type: feature, status: ready for review, priority: normal

#397 extend update_inclusive_columns() for multiindexed trees
  docs/examples/read/dag_literal.py
  docs/examples/tutorial/hatchet_query_examples.ipynb
  docs/examples/tutorial/roundtrip-demo.ipynb
  hatchet/graphframe.py
  hatchet/readers/literal_reader.py
  hatchet/tests/caliper.py
  hatchet/tests/conftest.py
  hatchet/tests/dataframe_ops.py
  hatchet/tests/graph_literal.py
  hatchet/tests/graphframe.py
  hatchet/tests/hpctoolkit.py
Labels: type: bug, status: approved, priority: normal, area: graphframe
